<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/form.css" />
    
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body class="row">
    <div class="col-lg-3 col-md-4 col-xs-6">
        @RenderBody()
    </div>
   
    <div class="col-lg-9 col-md-4 col-xs-6" >
        <h3> Încearca zborul o singură dată, iar ochii tăi vor fi îndreptați pentru totdeauna spre cer.
       
           După ce ai fost acolo odată, ești sortit să-l tânjești pentru tot restul vieții.</h3>
       <div class="row justify-content-end ">


            <div class="col-lg-5 col-md-4 col-xs-6 thumb">
                    <img src="/img/2.jpg" class="img-thumbnail" alt="">              
            </div>
           

            <div class="col-lg-5 col-md-4 col-xs-6 thumb">
                <img src="/img/4.jpg" class="img-thumbnail" alt="">
            </div>

            <div class="col-lg-5 col-md-4 col-xs-6 thumb">
                <img src="/img/5.jpg" class="img-thumbnail" alt="">
            </div>

            <div class="col-lg-5 col-md-4 col-xs-6 thumb">
                <img class="img-thumbnail" src="/img/7.jpg"   alt="">
            </div>
           </div>
           

        </div>




   
</body>
</html>
