@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
p {
    text-indent: 1.5em;
    font-family: "Roboto", helvetica, arial, sans-serif;
    text-align: center;
    font-size: 200%;
}
#noi {
    background-color: #f2f2f2;
}
#sponsor {
    background-color: white;
}
#space {
    background-color: silver;
  border:5px  black;
  border-radius:10px;

}
