
@{
    ViewData["Tittle"] = "Favorite";
}
<div class="container  bg-white border border-light rounded  p-5 mt-5 ">
    <div class="row m-5 justify-content-center ">
        <h1>Top Orase</h1>
    </div>
    <div class="row bg-light ">
        <div class="col-lg-4 p-1">
            <div class="jumbotron jumbotron-fluid ">

                <div class="jumbotron-background">
                    <a asp-action="favouriteprod" asp-controller="fly" asp-route-id="2"> 
                    <img src="/css/favorite/img/chisinau.jpg" class=""></a>
                </div>

                <div class="container text-white">

                    <h1 class="display-4">Chisinau</h1>

                    <p class="lead "> De la: 120$</p>


                </div>
               
            </div>
        </div>
        <div class="col-lg-4 p-1">
            <div class="jumbotron jumbotron-fluid bg-dark">

                <div class="jumbotron-background">
                    <a asp-action="favouriteprod" asp-controller="fly" asp-route-id="10">

                        <img src="/css/favorite/img/new York.jpg" class=" w-100 h-100"></a>
                </div>

                <div class="container text-white">

                    <h1 class="display-4">New York</h1>
                    <p class="lead"> De la: 400$</p>


                </div>
            </div>

        </div>
        <div class="col-lg-4 p-1 back">
            <div class="jumbotron jumbotron-fluid bg-dark">

                <div class="jumbotron-background">
                    <a asp-action="favouriteprod" asp-controller="fly" asp-route-id="3">

                        <img src="/css/favorite/img/tokyo.jpg" class=" w-100 h-100"></a>
                </div>

                <div class="container text-white">

                    <h1 class="display-4">Tokyo</h1>
                    <p class="lead"> De la: 350$</p>


                </div>
            </div>
        </div>

    </div>
</div>


    <div class="container mt-w rounded border p-5" style="        background-image: url(/img/4.jpg);
        background-position: center;background-size:cover;
        background-repeat: no-repeat;
    ">
      
        <div class="container text-white m-3">

            <h1 class="display-4 mt-5" style="background-color: rgba(0, 0, 0, 0.4);">#FlyOne.MD </h1>
            <p class="lead">Secretul zborului este acesta - trebuie să o faci imediat, înainte ca corpul tău să-și dea seama că sfidează legile.</p>
            <div class="row">
                <div class="col-lg-5 m-1 mr-5" style="background-color: rgba(0, 0, 0, 0.4);">
                    <hr class="my-4">
                    <h6>
                        1. „Când ai gustat zborul, vei umbla veșnic pe pământ cu ochii întoarși spre cer, căci acolo ai fost și acolo vei dori întotdeauna să te întorci”.
                        - Leonardo DaVinci
                    </h6>
                    <hr class="my-4"><h6>
                        2. „Omul trebuie să se ridice deasupra Pământului - până la vârful atmosferei și dincolo - pentru că numai așa va înțelege pe deplin lumea în care trăiește.”
                        - Socrate
                    </h6><hr class="my-4">
                    <h6>
                        3. „În noi toți este o cantitate variabilă de scame spațiale și praf de stele, reziduurile de la creația noastră. Majoritatea sunt prea ocupați pentru a observa acest lucru și este mai puternic la unii decât la alții. Este cel mai puternic în cei dintre noi care zboară și este responsabil pentru o dorință inconștientă, subtilă, de a aluneca în unele aripi și de a încerca granițele evazive ale originii noastre. ”
                        - K.O. Eckland
                    </h6></div>
                    <div class="col-lg-5 m-1 ml-5" style="background-color: rgba(0, 0, 0, 0.4);"><hr class="my-4">
                    <h6>
                        4. „Zbor pentru că îmi eliberează mintea de tirania lucrurilor mărunte”.
                        - Antoine de Saint-Exupery
                    </h6><hr class="my-4">
                    <h6>
                        5. „Dorința de a zbura este o idee transmisă nouă de strămoșii noștri care, în călătoriile lor istovitoare, prin ținuturi fără pistă în vremurile preistorice, priveau cu invidie păsările care se ridicau liber prin spațiu, la viteză maximă, deasupra tuturor obstacolelor, asupra autostrada infinită a aerului. ”
                        - Wilbur Wright
                    </h6><hr class="my-4">
                    <h6 class="mb-5">
                        6. „Uneori, zborul se simte prea asemănător lui Dumnezeu pentru a fi atins de om. Uneori, lumea de sus pare prea frumoasă, prea minunată, prea îndepărtată pentru ca ochii omului să o vadă ”.
                        - Charles A. Lindbergh
                    </h6></div>
                </div>

        </div></div>


<div class="container p-1 bg-white border border-light rounded mt-w">
<div class="container text-center mt-5">
    <h1>De ce noi?</h1>
    <h6 class="text-secondary">Felul în care o facem</h6>
</div>

<div class="row m-5 text-center">
    <div class="col-lg-4 justify-content-center">
        <img class="advantages-item__icn lozad" src="/css/favorite/iconwhy/search.svg" />
        <h2>
            Căutare rapidă
        </h2>
    </div>
    <div class="col-lg-4 text-center">
        <img class="advantages-item__icn lozad" src="/css/favorite/iconwhy/support.svg" />
        <h2> 24/7 Suport de încredere</h2>
    </div>
    <div class="col-lg-4 text-center">
        <img class="advantages-item__icn lozad" src="/css/favorite/iconwhy/airlines.svg" />
        <h2> Major Airlines</h2>
    </div>
</div></div>


