<div class="container mt-5 text-center">
    <h1 class="text-white text-capitalize">Multumesc pentru cumparare!!!</h1>
</div>
<script> 

    setTimeout(function () {
        document.location = document.referrer
    }
        , 3000)
    </script>